.container {
  display: flex;
  gap: 20px;


}

/* .advice {
  flex: 1;
  background-color: aqua;
} */

.advice,
.information {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;

}

.advice,
.information {}



.advice-title,
.information-title {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #384fa1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.advice-title h1,
.information-title h1 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.advice-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.advice-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.advice-item .icon {
  font-size: 20px;
  color: rgb(210, 20, 20);
}

.advice-item p {
  font-size: 18px;
  margin-bottom: 5px;
  color: #374ea2;
}



.form-register {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form-register input,
.form-register select,
.form-register textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

::placeholder {
  color: #878080;
  /* Màu chữ của placeholder */
  font-size: 16px;
}


.form-register button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.form-register button:hover {
  background-color: #45a049;
}

/* ButtonContainer.css */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

}

.app-download-btn,
.connect-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #3498db;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.app-download-btn:hover,
.connect-btn:hover {
  background-color: #2980b9;

}